@charset "UTF-8";

.body .bgImg{
    background-size: 100%;
    background-position: bottom;
	background-repeat: no-repeat;
}
.body .bgImg17{
	background-image: url(../../imgs/common/webImg-17-1.png);
}
.body .bgImg18{
	background-image: url(../../imgs/common/webImg-18-1.png);
}
.body .content{
	width:70%;
	margin:auto;
	text-align: center;
}
.body .content p {
	width: 80%;
    margin: 2vh auto;
    text-align: left;
	font-size: 12pt;
	color:#A11E4A;
	font-weight: bold;
}

.body .content p span:not(:first-child){
	color:lightskyblue;
}

.body .content table{
	border-spacing: 0;
	margin: auto;
}
.body .content table:first-child{
	padding: 2vh 0;
    width: 100%;
	font-weight: bold;
}
.body .content table:first-child td:first-child{
	color:#A11E4A;
}
.body .content table:not(:first-child){
	margin-top: 4vh;
    width: 80%;
}
.body .content table:not(:first-child) tr td{
	border-top: 1px #898989a6 solid;
	height: 5vh;
}
#chName{
	color: #E79550;
}
#totalTD , #sendTD {
	border-top:0;
	text-align:right;
	color:#A11E4A;
}
#cancel , #send{
	margin-top: 1vh;
	margin-bottom: 2vh;
	font-size: 12pt;
    cursor: pointer;
    color: #fff;
    background-color: #A11E4A;
    border: 0;
    padding: 5px 15px;
    font-family: Arial, Microsoft JhengHei;
}
.body .content table .wineDetail div{
	text-align: left;
	margin:0.5vh 0 ;
}
img[name="del"] , img[name="delTR"] {
	cursor: pointer;
}

#minus , #plus , .quantity {
	width: 20px;
    height: 20px;
    padding:0;
    font-size:10pt;
    color: black;
    background-color: transparent;
}
.quantityTD .quantityDiv{
	margin: auto;
	width: 90px;
	min-width: 100px;
}
.quantityTD div div{
	float:left;
    border: 1.5px #898989a6 solid;
}
.quantityTD div input{
	border: 0;
}
.showQuantityNum{
	border:0 !important;
}
#quantity{
	padding: 2px 0 3px 0;
    /*border: 1px #898989a6 solid;*/
}
.addBorderBottom{
	border-bottom: 1px #898989a6 solid;
}