@charset "UTF-8";
.body{
	text-align:center;
	width:60%;
	margin:auto;
	min-width: 800px;
}
.titleTable{
	margin:auto;
	width:70%;
	min-width:500px;
	text-align:left;
}
/* ================================== qTable ========================================= */

.qTable {
	text-align: center;
	border-spacing: 0;
	width: 100%;
	/* border: 2px black solid; */
}

.qTable th {
	background-color: #f19832;
	padding: 2px;
}

.qTable td{
	border-top:1px black solid;
}

/* ================================== eTable ========================================= */

.eTable span,
.eTable img {
	float: left;
	margin: 1%;
}

.eTable span {
	margin: 2%;
	font-size:13pt;
}

.eTable span font{
	color:red;
}

.eTable {
	width: 80%;
	margin: 0 10%;
	padding: 1%;
	border-spacing: 0;
}

.eTable td {
	border-bottom:1px black solid;
	text-align: left;
	padding-left: 20px;
}
.eTable td:first-child {
	width:65%;
}

/* =========================================================================== */

input[type="button"] {
	font-size: 14pt;
	border-radius: 20px;
	cursor: pointer;
	background-color: #f3b355;
}

input[type="button"]:hover {
	background-color: #f19816;
}

.lbladd {
	font-size: 18pt;
	color: red;
	font-weight: bold;
}